*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

background:#081b29;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:90%;

height:85vh;

display:flex;

border-radius:25px;

overflow:hidden;

box-shadow:0 0 30px rgba(0,255,255,.2);

}

.left{

width:50%;

background:#123;

display:flex;

justify-content:center;

align-items:center;

}

.left img{

width:90%;

border-radius:20px;

}

.right{

width:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#102030,#203a43);

}

.card{

width:70%;

text-align:center;

}

h1{

color:white;

margin-bottom:10px;

}

p{

color:#ddd;

margin-bottom:30px;

}

input{

width:100%;

padding:15px;

margin:10px 0;

border:none;

border-radius:10px;

outline:none;

}

button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:10px;

background:cyan;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

h4{

margin-top:20px;

color:white;

font-weight:300;

}

a{

color:cyan;

text-decoration:none;

}